#tweet-text {
  border-color: transparent;
  border-bottom: solid;
  /* font-weight: bold; */
  background-color: #f4f1ec;
  
}

#vHeader {
  height: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  border-color: red;
  padding-right: 10px;
  padding-left: 10px;
  /* margin: auto; */
}

#validate {
  color: red;
  size: 1.4em;
  /* margin: auto; */
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}


.main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.error {
  color: red;
}

#tweet_it {
  color: #FFFFFF;
  background-color: #4056A1;
  
}

